* {
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif;
  box-sizing: inherit;
  background: #111827;
}

header {
  display: flex;
  padding: 10px;
  gap: 12px;
  margin: auto;
  max-width: 900px;
  align-items: center;
  justify-content: space-around;
}

h1 {
  color: #f3f4f6;
  font: bold;
}

.contenedor {
  padding-top: 2rem;
  padding: 10px;
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.mensaje {
  max-height: max-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mensaje p {
  color: #f3f4f6;
}

.texto {
  width: 95%;
  height: 20rem;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-family: "Heebo", sans-serif;
  color: #f3f4f6;
  font-size: 1rem;
  resize: none;
  background-color: #374151;
}

.texto::placeholder {
  color: #f3f4f6;
}

.texto:focus {
  outline: none;
}

.button-encriptar {
  color: white;
  border: none;
  background: #374151;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.button-desencriptar {
  color: white;
  border: none;
  background: #374151;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.button-copiar {
  color: white;
  border: none;
  background: #374151;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.button-encriptar:hover {
  background-color: #9ca3af;
}

.button-desencriptar:hover {
  background-color: #9ca3af;
}

.button-copiar:hover {
  background-color: #27ae60;
}

.resultado {
  max-height: max-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.texto-resultado {
  height: 20rem;
  padding: 10px;
  color: #f3f4f6;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #374151;
  overflow-wrap: break-word;
  min-width: 0;
}

.texto-resultado:focus {
  outline: none;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

footer {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3f4f6;
}

a {
  color: #f3f4f6;
  text-decoration: none;
}

@media (min-width: 768px) and (max-width: 920px) {
  .contenedor {
    grid-template-columns: 1fr;
  }
}
